In [1]:
import pandas as pd
import numpy as np

## Products Data

### Importing Products Data

- products.txt is a tab delimited file
- Starting on line 35033, there is an extra tab at end of file
    - To avoid parsing error, i added an extra column to drop later

### Importing & Cleaning the data

In [87]:
# Importing the data
# Column nammes to pass into pd.read_csv
names = ["ApplNo", "ProductNo", "Form", "Strength",
         "ReferenceDrug", "DrugName", "ActiveIngredient",
         "ReferenceStandard", "Extra"]
products = pd.read_csv("Imports/Products.txt", sep="\t", lineterminator="\n", names=names, header=None, skiprows=1)

# Cleaning the data
# Getting rid of '\r' that shows up in th reference standard columns
products["ReferenceStandard"] = products["ReferenceStandard"].str.replace("\r", "").replace("", np.nan).astype(float)
# Dropping the extra column
products.drop("Extra", axis=1, inplace=True)

# Cleaning the Form column
products["Form"] = products["Form"].str.title().str.strip()
# splitting based on ; into seperate columns
products["Form_delivery"] = products["Form"].str.split(";").str[0]
products["Form_type"] = products["Form"].str.split(";").str[1]

# Cleaning the Strength column
products.loc[products["Strength"].str.contains(";", na=False), :]
#products["Strength"].str.split(";").str.len().max()
products["Strength"] = products["Strength"].str.lower().str.strip()

# Cleaning the DrugName column
products["DrugName"] = products["DrugName"].str.title().str.strip()

# Cleaning the ActiveIngredient column
products["ActiveIngredient"] = products["ActiveIngredient"].str.lower().str.strip()

# Displaying
products.head()

,ApplNo,ProductNo,Form,Strength,ReferenceDrug,DrugName,ActiveIngredient,ReferenceStandard,Form_delivery,Form_type
0,4,4,Solution/Drops;Ophthalmic,1%,0,Paredrine,hydroxyamphetamine hydrobromide,0.0,Solution/Drops,Ophthalmic
1,159,1,Tablet;Oral,500mg,0,Sulfapyridine,sulfapyridine,0.0,Tablet,Oral
2,552,1,Injectable;Injection,"20,000 units/ml",0,Liquaemin Sodium,heparin sodium,0.0,Injectable,Injection
3,552,2,Injectable;Injection,"40,000 units/ml",0,Liquaemin Sodium,heparin sodium,0.0,Injectable,Injection
4,552,3,Injectable;Injection,"5,000 units/ml",0,Liquaemin Sodium,heparin sodium,0.0,Injectable,Injection

__Notes__

- products => application/applicationdocs : ApplNo
- products => marketing_status: [ApplNo, ProductNo]
- products => ApplNo

## General Functions

In [69]:
def remove_r(df):
    df.columns = df.columns.str.replace("\r", "")
    try:
        df[df.columns[-1]] = df[df.columns[-1]].str.replace("\r", "")
    except AttributeError:
        print("Att Error was raised.")
    return df

## Applications Data

In [50]:
applications = pd.read_csv("Imports/Applications.txt", sep="\t", lineterminator="\n")
applications = remove_r(applications)
applications.head()

   ApplNo ApplType  ApplPublicNotes          SponsorName
0       4      NDA              NaN             PHARMICS
1     159      NDA              NaN                LILLY
2     552      NDA              NaN      ORGANON USA INC
3     734      NDA              NaN                LILLY
4     793      NDA              NaN  MYLAN SPECIALITY LP

In [63]:
application_docs = pd.read_csv("Imports/ApplicationDocs.txt", sep="\t", lineterminator="\n", encoding="latin_1")
application_docs = remove_r(application_docs)
application_docs["ApplicationDocsDate"] = pd.to_datetime(application_docs["ApplicationDocsDate"])
application_docs.head()

,ApplicationDocsID,ApplicationDocsTypeID,ApplNo,SubmissionType,SubmissionNo,ApplicationDocsTitle,ApplicationDocsURL,ApplicationDocsDate
0,1,1,4782,SUPPL,125,0,http://www.accessdata.fda.gov/drugsatfda_docs/...,2003-07-28
1,2,1,4782,SUPPL,128,0,http://www.accessdata.fda.gov/drugsatfda_docs/...,2002-11-27
2,3,1,4782,SUPPL,130,0,http://www.accessdata.fda.gov/drugsatfda_docs/...,2003-05-16
3,4,1,4782,SUPPL,138,0,http://www.accessdata.fda.gov/drugsatfda_docs/...,2005-04-12
4,5,1,4782,SUPPL,141,0,http://www.accessdata.fda.gov/drugsatfda_docs/...,2005-08-04

In [54]:
application_docs_type = pd.read_csv("Imports/ApplicationsDocsType_Lookup.txt", sep="\t", lineterminator="\n")
application_docs_type = remove_r(application_docs_type)
application_docs_type.head()

   ApplicationDocsType_Lookup_ID ApplicationDocsType_Lookup_Description
0                              1                                 Letter
1                              2                                  Label
2                              3                                 Review
3                              4                         FDA Talk Paper
4                              5                      FDA Press Release

__Notes__
- applications => applicationdoccs : ApplNo
- applicationsdocs => application_docs_type: ApplicationDocsTypeID, ApplicationDocsType_Lookup_ID

In [93]:
print(
    f"applications: {applications.shape}\n",
    f"application_docs: {application_docs.shape}\n",
    f"application_docs_type: {application_docs_type.shape}\n"
)

applications: (23617, 4)
 application_docs: (58892, 8)
 application_docs_type: (62, 2)

## Action Types Data

In [58]:
action_types_lookup = pd.read_csv("Imports/ActionTypes_Lookup.txt", sep="\t", lineterminator="\n")
action_types_lookup = remove_r(action_types_lookup)
action_types_lookup.head()

,ActionTypes_LookupID,ActionTypes_LookupDescription,SupplCategoryLevel1Code,SupplCategoryLevel2Code
0,1,Bioequivalence,BIOEQUIV,
1,2,Efficacy,EFFICACY,NOT APPLICABLE
2,3,Efficacy-Accelerated Approval,EFFICACY,ACCEL APP
3,4,Efficacy-Accelerated Approval Confirmatory Study,EFFICACY,COMP EFF
4,5,Efficacy-Labeling Change With Clinical Data,EFFICACY,LABEL W CLIN

## Marketing Status

In [70]:
marketing_status = pd.read_csv("Imports/MarketingStatus.txt", sep="\t", lineterminator="\n")
marketing_status = remove_r(marketing_status)
marketing_status.head()

Att Error was raised.

   MarketingStatusID  ApplNo  ProductNo
0                  3       4          4
1                  3     159          1
2                  3     552          1
3                  3     552          2
4                  3     552          3

In [71]:
marketing_status_lookup = pd.read_csv("Imports/MarketingStatus_Lookup.txt", sep="\t", lineterminator="\n")
marketing_status_lookup = remove_r(marketing_status_lookup)
marketing_status_lookup.head()

   MarketingStatusID MarketingStatusDescription
0                  1               Prescription
1                  2           Over-the-counter
2                  3               Discontinued
3                  4  None (Tentative Approval)

__Notes__

- marketing_status => marketing_status_lookup : MarketingStatusID

In [95]:
print(
    f"marketing_status: {marketing_status.shape}\n",
    f"marketing_status_lookup: {marketing_status_lookup.shape}\n",
)

marketing_status: (40448, 3)
 marketing_status_lookup: (4, 2)

## Submissions

In [78]:
submissions = pd.read_csv("Imports/Submissions.txt", sep="\t", lineterminator="\n", encoding="latin_1")
submissions = remove_r(submissions)
submissions.head()

,ApplNo,SubmissionClassCodeID,SubmissionType,SubmissionNo,SubmissionStatus,SubmissionStatusDate,SubmissionsPublicNotes,ReviewPriority
0,4,19.0,ORIG,1,AP,1969-07-16 00:00:00,NaN,UNKNOWN
1,4,3.0,SUPPL,10,AP,1980-05-08 00:00:00,NaN,
2,4,3.0,SUPPL,11,AP,1987-05-26 00:00:00,NaN,
3,159,NaN,ORIG,1,AP,1939-03-09 00:00:00,NaN,
4,159,3.0,SUPPL,3,AP,1986-12-09 00:00:00,NaN,

In [82]:
submission_property_type = pd.read_csv("Imports/SubmissionPropertyType.txt", sep="\t", lineterminator="\n")
submission_property_type = remove_r(submission_property_type)
submission_property_type.head()

Att Error was raised.

,ApplNo,SubmissionType,SubmissionNo,SubmissionPropertyTypeCode,SubmissionPropertyTypeID
0,159,ORIG,1,Null,0
1,159,SUPPL,3,Null,0
2,159,SUPPL,4,Null,0
3,552,SUPPL,7,Null,0
4,552,SUPPL,8,Null,0

In [97]:
submission_class_lookup = pd.read_csv("Imports/SubmissionClass_Lookup.txt", sep="\t", lineterminator="\n")
submission_class_lookup = remove_r(submission_class_lookup)
submission_class_lookup.head()

   SubmissionClassCodeID SubmissionClassCode SubmissionClassCodeDescription
0                      1            BIOEQUIV                 Bioequivalence
1                      2            EFFICACY                       Efficacy
2                      3            LABELING                       Labeling
3                      4         MANUF (CMC)            Manufacturing (CMC)
4                      5                 NaN                 Not Applicable

__Notes__

- submissions => sumbission_property_type : ApplNo, SubmissionType, SubmissionNo
- submission_class_lookup => submissions : SubmissionClassCodeID

In [94]:
print(
    f"submissions: {submissions.shape}\n",
    f"submission_property_type: {submission_property_type.shape}\n",
    f"submission_class_lookup: {submission_class_lookup.shape}\n"
)

submissions: (159609, 8)
 submission_property_type: (188310, 5)
 submission_class_lookup: (26, 3)

## TE data

In [85]:
te = pd.read_csv("Imports/TE.txt", sep="\t", lineterminator="\n")
te = remove_r(te)
te.head()

   ApplNo  ProductNo  MarketingStatusID TECode
0    3444          1                  1     AA
1    5213          2                  1     AA
2    5378          2                  1     AA
3    5929          1                  1     AP
4    6035          4                  1     AP